/* Parralax background: */
body, html {
    margin: 0;
    height: 100%;
    flex: 1;
}

.background-image1 {
    background-image: url("../images/background-image.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image2 {
    background-image: url("../images/background-image.jpg");
    height: 150px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page1 {
    height: 800px;
    background-color: white;
    padding: 10px;
}

.content1 {
    background-color: white;
    /* border: solid 1px #ce9e92; */
    padding-right: 100px;
    height: 99.8%;
    width: 80%;
    box-shadow: 8px 14px 18px 12px rgb(0, 0, 0, 0.3);
}

/* #new-portfolio{
}; */